version: '3.9'
services:
  tor:
    build:
      context: .
      dockerfile: tor.Dockerfile
    deploy:
      replicas: 1

  web:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - dokploy-network
      - default
    ports:
      - 3010:3010
    env_file:
      - .env
    depends_on:
      - tor
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
networks:
  dokploy-network:
    driver: bridge
