version: '3.9'
services:
  tor:
    container_name: debrid-media-manager-tor
    build:
      context: .
      dockerfile: tor.Dockerfile
    deploy:
      replicas: 1
    networks:
      - dokploy-network

  web:
    container_name: debrid-media-manager-web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3010:3010
    networks:
      - dokploy-network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - MEDIAFLOW_URL=${MEDIAFLOW_URL}
      - MEDIAFLOW_API_PASSWORD=${MEDIAFLOW_API_PASSWORD}
      - REALDEBRID_CLIENT_ID=${REALDEBRID_CLIENT_ID}
      - REALDEBRID_CLIENT_SECRET=${REALDEBRID_CLIENT_SECRET}
      - REALDEBRID_REDIRECT_URI=${REALDEBRID_REDIRECT_URI}
      - MDBLIST_KEY=${MDBLIST_KEY}
      - DATABASE_URL=mysql://dmm:password@db:3306/dmm?schema=public
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dokploy-network"
      - "traefik.http.routers.dmm.rule=Host(`debridmediamanager.mooh.me`)"
      - "traefik.http.routers.dmm.entrypoints=websecure"
      - "traefik.http.routers.dmm.tls.certresolver=letsencrypt"
      # Service
      - "traefik.http.routers.dmm.service=dmm-service"
      - "traefik.http.services.dmm-service.loadbalancer.server.port=3010"
      
      # Middleware Fix (Matches your new domain)
      - "traefik.http.middlewares.dmm-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.dmm-headers.headers.customrequestheaders.X-Forwarded-Host=debridmediamanager.mooh.me"
      - "traefik.http.middlewares.dmm-headers.headers.customrequestheaders.X-Forwarded-Port=443"
      - "traefik.http.routers.dmm.middlewares=dmm-headers"
    env_file:
      - .env
    depends_on:
      - tor
      - db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  db:
    container_name: debrid-media-manager-db
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: dmm
      MYSQL_USER: dmm
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - /home/ubuntu/dmm:/var/lib/mysql
    networks:
      - dokploy-network

volumes:
  mysql_data:

networks:
  dokploy-network:
    driver: bridge